:root {
    --color: #962d91
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    /* box-sizing prop does not inherit by default.  Setting its value to "inherit" in the universal selector
       will make it inherit.  We can then specify a value of "border-box" in the rule for the body selector.
       Then all elements will have box-sizing of border-box by way of inheritance, rather than the universal
       selector, which is considered better practice (cite?).
    */
    box-sizing: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0 auto;
    width: 1160px;
}


ul {
    list-style: none;
}

section.searchTopics {
    height: 4rem;
    background-color: #fff;
    position: fixed;
    width: 1160px;
}

section.searchTopics div.searchTopics {
    width: 35%;
    float: right;
}

section.searchTopics input {
    width: 85%;
    border: 1px solid var(--color);
    float: right;
    line-height: 2rem;
}

section.searchTopics input::after {
    clear: both;
}

section.searchTopics ul {
    background-color: peachpuff;
}

section.searchTopics ul li:hover {
    background-color: mintcream;
}

ul.reviews {
    padding-top: 6rem;
}

ul.reviews li {
    margin-bottom: 3rem;
    border-left: 2px solid #222;
    padding-left: .75rem;
}

ul.reviews li a {
    text-decoration: none;
}

ul.reviews li a:link,
ul.reviews li a:visited {
    color: #0000ff;
}

p {
    margin-bottom: .2rem;
}

p.title {
    font-size: 120%;
}

p.author {
    margin-bottom: 1rem;
}

p.date {
    color: var(--color);
}

@media (max-width: 1200px) {
    body, section.searchTopics {
        width: 860px;
    }

    section.searchTopics div.searchTopics {
        width: 45%;
    }

    section.searchTopics input {
        width: 85%;
    }
}

@media (max-width: 900px) {
    body, section.searchTopics {
        width: 580px;
    }

    section.searchTopics div.searchTopics {
        width: 55%;
    }

    section.searchTopics input {
        width: 80%;
    }
}

@media (max-width: 600px) {
    body, section.searchTopics {
        width: 400px;
    }

    section.searchTopics div.searchTopics {
        width: 65%;
    }

    section.searchTopics input {
        width: 75%;
    }
}
