:root {
    --color: #962d91
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    /* box-sizing prop does not inherit by default.  Setting its value to "inherit" in the universal selector
       will make it inherit.  We can then specify a value of "border-box" in the rule for the body selector.
       Then all elements will have box-sizing of border-box by way of inheritance, rather than the universal
       selector, which is considered better practice (cite?).
    */
    box-sizing: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 2rem auto;
    width: 1160px;
}

@media (max-width: 1200px) {
    body {
        width: 860px;
    }
}

@media (max-width: 900px) {
    body {
        width: 580px;
    }
}

@media (max-width: 600px) {
    body {
        width: 400px;
    }
}


ul {
    list-style: none;
    margin-top: 5rem;
}


div.searchTopics input {
    border: 1px solid var(--color);
    float: right;
}

div.searchTopics input::after {
    clear: both;
}

ul.reviews li {
    margin-bottom: 3rem;
    border-left: 2px solid #222;
    padding-left: .75rem;
}

ul.reviews li a {
    text-decoration: none;
}

ul.reviews li a:link,
ul.reviews li a:visited {
    color: #0000ff;
}

p {
    margin-bottom: .2rem;
}

p.title {
    font-size: 120%;
}

p.author {
    margin-bottom: 1rem;
}

p.date {
    color: var(--color);
}
